/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

/* index.css */

pre,
code,
pre code {
  white-space: pre-wrap !important;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
}

pre[style*="white-space: pre"] {
  white-space: pre-wrap !important;
}
code[style*="white-space: pre"] {
  white-space: pre-wrap !important;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(-45deg, #5a4350, #023016);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}


.gradient {
  background: linear-gradient(-45deg, #5a4350, #023016);
  background-size: 400% 400%;
  animation: gradientAnimation 15s ease infinite;
}

/* Keyframes to shift the gradient positions */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

